.TopBar-master {
    /*cosmetic*/
    background-color: black;
    height: 40px;
    width: 100%;
    /* box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.16); */
    /*placement*/
    position: sticky;
    top: 0;
    /*layout*/ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;



}

.TopBar-LastStateArrow {
    height: 20px;
}

.TopBar-SearchBox {
    height: 27px;
    width: 70%;
    background-color: white;
    border-radius: 5px;
}

.TopBar-UserIcon {
    height: 30px;
    width: 30px;
}