.ProductRoll {
    /*size*/
    width: 100%;
    height: calc(100% - 64px);
    /*layout*/
    display: flex;
    flex-direction: column;
    
}

.ProductCardGroup {
    width: 100%;
    
    /*layout*/
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.ProductCardGroup_3by1 {
    aspect-ratio: 3 / 1;
    /*layout*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

}
/*ABC*/
.type0_0 { grid-area: 1 / 1 / 2 / 2; }
.type0_1 { grid-area: 1 / 2 / 2 / 3; }
.type0_2 { grid-area: 1 / 3 / 2 / 4; }
/*ABB*/
.type1_0 { grid-area: 1 / 1 / 2 / 2; }
.type1_1 { grid-area: 1 / 2 / 2 / 4; }
/*AAB*/
.type2_0 { grid-area: 1 / 1 / 2 / 3; }
.type2_1 { grid-area: 1 / 3 / 2 / 4; }

.ProductCardGroup_3by2 {
    aspect-ratio: 3 / 2;
    /*layout*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
/**
ABB
CBB
*/
.type3_0 { grid-area: 1 / 1 / 2 / 2; aspect-ratio: 1 / 1; }
.type3_1 { grid-area: 1 / 2 / 3 / 4; aspect-ratio: 1 / 1; }
.type3_2 { grid-area: 2 / 1 / 3 / 2; aspect-ratio: 2 / 2; }


/**
AAB
AAC
*/
.type4_0 { grid-area: 1 / 1 / 3 / 3; aspect-ratio: 2 / 2; }
.type4_1 { grid-area: 1 / 3 / 2 / 4; aspect-ratio: 1 / 1; }
.type4_2 { grid-area: 2 / 3 / 3 / 4; aspect-ratio: 1 / 1; }
/**
ABC
DEC
*/
.type5_0 { grid-area: 1 / 1 / 2 / 2; aspect-ratio: 1 / 1; }
.type5_1 { grid-area: 1 / 2 / 2 / 3; aspect-ratio: 1 / 1; }
.type5_2 { grid-area: 1 / 3 / 3 / 4; aspect-ratio: 1 / 2; }
.type5_3 { grid-area: 2 / 1 / 3 / 2; aspect-ratio: 1 / 1; }
.type5_4 { grid-area: 2 / 2 / 3 / 3; aspect-ratio: 1 / 1; }
/**
ABC
DBE
*/
.type6_0 { grid-area: 1 / 1 / 2 / 2; aspect-ratio: 1 / 1; }
.type6_1 { grid-area: 1 / 2 / 3 / 3; aspect-ratio: 1 / 2; }
.type6_2 { grid-area: 1 / 3 / 2 / 4; aspect-ratio: 1 / 1; }
.type6_3 { grid-area: 2 / 1 / 3 / 2; aspect-ratio: 1 / 1; }
.type6_4 { grid-area: 2 / 3 / 3 / 4; aspect-ratio: 1 / 1; }
/**
ABC
ADE
*/
.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 2 / 3 / 3 / 4; }

.layered {
    display: grid;

    /* Set horizontal alignment of items in, case they have a different width. */
    /* justify-items: start | end | center | stretch (default); */
    justify-items: start;

    /* Set vertical alignment of items, in case they have a different height. */
    /* align-items: start | end | center | stretch (default); */
    align-items: start;
}

.layered > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.PriceTag {
    width: 69px;
    position: relative;
}

.PriceTag-price {
    text-align: right;
    width: 100%;
    font-family: 'Cutive Mono', monospace;    top: 50%;
    transform: translate(0, -50%);
    position: relative;
    color: grey;
    letter-spacing: -1px;
}
.PriceTag-price > span {
    margin-right: 8px;
}
.PriceTag > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProductCoverImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProductCoverImage-shadow {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 7px #000000;
}