/*Playfair Display*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,600;1,900&display=swap');
/*Ralewat (was Roboto Flex)*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');
.App {
  height: 100%;
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 900;
  font-size: 28px;
}

select {
  /* A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0;/*0 1em 0 0;*/
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  /**/
  outline: none;

}